<div class="p-5">
    <app-sidebar></app-sidebar>
    <!-- <div class="w-25">
        <div class="border">
            <ul class="list-group">
                <li class="list-group-item px-5" *ngFor="let item of categories">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    {{item}}
                </li>
            </ul>
        </div>
    </div> -->
    <app-shopping-list></app-shopping-list>
    <app-cart></app-cart>
    <!-- <div class="row row-cols-md-3 row-cols-sm-2 gy-4 m-0 w-75">
        <app-book *ngFor="let book of bookList" [book]="book"></app-book>
    </div> -->
</div>