<div class="overlay" (click)="closeCart()" [ngStyle]="{'display': state === 'out'? 'none':'block' }"></div>
<div class="position-fixed top-0 end-0 bg-white border vh-100" style="width: 320px;z-index: 100; opacity: 0" [@cartState]="state">
    <div class="border-bottom px-3 py-4">
        <div class="d-flex">
            <span class="text-center align-middle fs-6 fw-semibold me-auto" style="font-weight: 600;">Shopping
                cart</span>
            <a type="button" (click)="closeCart()" class="text-center align-middle fs-5 fw-semibold">X</a>
        </div>
        <div>
            <span class="text-center align-middle fw-normal " style="font-weight: 600;">Total: </span>
            <span type="button" class="text-center align-middle fs-6 text-danger">{{cart.totalAmount}}</span>
        </div>
    </div>

    <div class="list-group mt-2 h-75" style="overflow-y: scroll; padding-bottom: 21%;">
        <div class="list-group-item border-0 border-bottom" aria-current="true" *ngFor="let item of cart.books">
            <div class="hstack w-100 gap-3 align-items-start">
                <img [src]="item.book.thumbnailUrl" alt="book image" width="80" height="100">
                <div class="vstack gap-3">
                    <span class="title d-block ">{{item.book.title}}</span>
                    <span class="title d-block justify-content-between" style="color: #999999;">
                        {{item.amount}} x <strong class="text-muted">{{item.book.price | currency:'VND'}}</strong>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="position-absolute bottom-0 border-top px-3 py-3 w-100 bg-white align-middle cart-footer" style="height: 21%;">
        <div class="d-flex align-items-center" style="font-weight: 600;">
            <span class="text-center align-middle fs-5 fw-normal me-auto">Total Price:</span>
            <span type="button" class="text-center align-middle fs-5 fw-semibold">{{cart.totalPrice |
                currency:'VND'}}</span>
        </div>
        <button class="btn view-cart-btn">View cart</button>
        <button class="btn checkout-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Check out</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Check out successfully!
                <br>
                {{cart.totalAmount}} books
                <br>
                Total: {{cart.totalPrice | currency:'VND'}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onCheckOut()">OK</button>
            </div>
        </div>
    </div>
</div>