@use "../../../shared/styles/global_styles" as g;

.footer {
  margin-top: 5%;
  width: 100%;
  height: 10vh;
  color: white;
  margin-bottom: 0;
  //   position: fixed;
  //   bottom: 0;
  //   left: 0;
}
